<h2> 자주하는 질문 </h2>

<p>
  <b>질문</b><br>
  <%= @faq.question %>
</p>

<p>
  <b>답변</b><br>
  <%= simple_format @faq.answer %>
</p>


<div class="form-actions">
  <%= link_to '목록으로', [:admin, :faqs], :class => 'btn'  %>
  <%= link_to '수정', [:edit, :admin, @faq], :class => 'btn' %>
  <%= link_to '삭제', [:admin, @faq], :method => 'delete', :confirm => '정말로 삭제하시겠습니까?', :class => 'btn btn-danger' %>
</div>

